<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-contacts') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'rgb(231, 116, 27);', c_icon: 'far fa-users', c_title: 'Contacts', has_arrow: true} %}

    <ul class="dropdown-menu">
        <li><a class="sidebar-link" href="{{ path('my-contacts', {'type' : 'phone'} ) }}">Phone numbers</a></li>
        <li><a class="sidebar-link" href="{{ path('my-contacts', {'type' : 'email'} ) }}">Emails</a></li>
        <li><a class="sidebar-link" href="{{ path('my-contacts', {'type' : 'other'} ) }}">Other</a></li>
        <li><a class="sidebar-link" href="{{ path('my-contacts', {'type' : 'archived'} ) }}">Archived</a></li>
        <li><a class="sidebar-link" href="{{ path('my-contacts-settings') }}">Settings</a></li>
    </ul>
</li>
