<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-payments') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'rgb(133,187,101);', c_icon: 'fas fa-dollar-sign', c_title: 'Payments', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li><a class="sidebar-link" href="{{ path('my-payments-products') }}">Products prices</a></li>
        <li><a class="sidebar-link" href="{{ path('my-payments-monthly') }}">Monthly payments</a></li>
        <li><a class="sidebar-link" href="{{ path('my-payments-owed') }}">Money owed</a></li>
        <li><a class="sidebar-link" href="{{ path('my-payments-settings') }}">Settings</a></li>
    </ul>
</li>
